*.iws
.idea/
.idea_modules/

**/out/
target/
**/project/project
**/tmp/
logs/

lib_managed/
lib_managed_flat/

.directory
.ftdm
.history
.build.conf


#play specific
server.pid
web/conf/application-logger.xml
web/conf/application.conf

**/requestExamples/cookie.jar
requestExamples/s3form/s3-form.html

#Frontend
npm-debug.log
.sass-cache
sliced/
*.DS_Store
